body{
  background-color: #621402;
}
.container{
  max-width: 1170px;
  margin: auto;
}
.menu{
  list-style-type: none;
  display: flex;
}
.menu-item{
  margin-right: 25px;
}
.menu-link{
  color: white;
  text-decoration: none;
}